<?xml version="1.0" ?>
<model>
    <name>nav_test</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>SavageTea</name>
        <email>savage_tea@foxmail.com</email>
    </author>
    <description>Dog-hole terrain test model (9x1.52x5.5m corridor, mm source)</description>
</model>
